
.container {
  display: flex;
  font-family: "Roboto", sans-serif;
  padding: 12px;
}

.container img {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  margin-right: 10px;
}
.container .content {
  flex-grow: 1
  
}
.container .content .description {
  font-size: 14px;  
  font-weight: 100;
  color: #90949C;
}
.container .content .name {
  font-weight: 700;
}
.container div a {
  position: relative;
  text-decoration: none;
  top: 12px;
  right: 20px;
  color: #1876F2;
}
