.tabMenu {
  display: flex;
  height: 134px;
  padding: 10px 12px;
}
.tabMenu img {
  width: 48px;
  padding-top: 30px;
}
.tabMenu > div {
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  flex-grow: 1;
}
.tabMenu > div:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-top: 2px solid #8CDC52;
  color: #8CDC52;
}
.tabMenu .item div {
  text-align: center;
}